<div class="w-full">
  <div class="m-8">
    <%= render "components/search", chart: @chart %>
  </div>
  <div
    data-controller="chart"
    data-chart-data-value="<%= @chart.to_chart_view_json %>">
    <canvas data-chart-target="chart"></canvas>
  </div>
</div>
